.container {
  position: absolute;
  z-index: 999999;
  bottom: 0;
  right: 0;
  background: transparent;
  display: flex;
  align-items: flex-end;

  * {
    font-family: sans-serif;
  }

  [type='text'] {
    all: unset;
  }
}
