.avatarContainer {
  display: flex;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 6px;
}

.avatarSvg {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 6px;
}

.emptyAvatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #6d7f92;
  font-size: 14px;
}

.avatarInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatarName {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  margin-bottom: 2px;
  font-style: normal;
  text-transform: uppercase;
  color: #C7E8FE;
}

